<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="">

                <div class="mb-3"><label class="form-label"></label><input type="text" class="form-control"
                        placeholder="usuario">
                </div>
                <div class="mb-3"><label class="form-label">

                    </label><textarea class="form-control" rows="3" type="password" placeholder="password"></textarea>

                </div>

                <div class="col-auto"><button type="submit" class="btn btn-primary mb-3">INGRESAR</button></div>

            </form>
        </div>
    </div>

</div>