<div class="formulario">
    <h2>Si queres contactarnos, inscribite </h2>

    <form action="" method="" class="formulario">
        <p>
            <label for="">Nombre</label>
            <input type="text">

        </p>

        <p>
            <label for="">Email</label>
            <input type="email">

        </p>

        <p>
            <label for=""> Telefono </label>
            <input type="number">
        </p>

        <p>

            <label for="">Mensaje</label>
            <textarea name="" id=""></textarea>
        </p>


        <p>
            <input type="submit" value="Enviar">

        </p>


    </form>
</div>

<br>