<h3>Nuestro objetivo es:</h3>
<div id="txt">
    <div class="caja1">
        <div data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
            <div class="card">
                <img src="images/save.jpg" class="card-img-top" alt="save">
                <div class="card-body">
                    <h5 class="card-title">Salvar</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio labore libero
                        sint ea
                        quia
                        totam at, quos
                    </p>
                    <a href="#">Ver mas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="caja2" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
        <div class="card">
            <img src="images/protect.jpg" class="card-img-top" alt="protect">
            <div class="card-body">
                <h5 class="card-title">Proteger</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio labore libero sint
                    ea
                    quia
                    totam at, quos
                </p>
                <a href="#">Ver mas</a>
            </div>
        </div>
    </div>

    <div class="caja3">
        <div class="caja3" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="500">
            <div class="card">
                <img src="images/adopt.jpg" class="card-img-top" alt="adopt">

                <div class="card-body">
                    <h5 class="card-title">Adoptar</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio labore libero
                        sint ea
                        quia
                        totam at, quos
                    </p>
                    <a href="#">Ver mas</a>
                </div>
            </div>

        </div>
    </div>



</div>