<div class="index">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="images/mapache.jpg" class="d-block w-100" alt="img1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Mapache</h5>
              <p>Lorem ipsum quae repellat fuga? Architecto tempora.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="images/golden.jpg" class="d-block w-100" alt="im2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Perros</h5>
              <p>Lorem ipsum eaque laborum magni voluptatem sunt iste amet sint qui asperiores. Nam, quos suscipit.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/gato.jpg" class="d-block w-100" alt="img3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Gatos</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vitae dolorem </p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


    </div>

    <article>
      <div class="Bienvenidos">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorem nobis quasi quas enim, eum
          corporis aperiam non cumque soluta? Commodi optio officia pariatur similique autem. </p>
      </div>
    </article>



    <div class="article">
      <div class="Somos">
        <h2>Quienes Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorem nobis quasi quas enim, eum
          corporis aperiam non cumque soluta? Commodi optio officia pariatur similique autem. Perferendis enim
          beatae amet?Lorem</p>
      </div>
    </div>
    </div>
