<h2>Novedades</h2>
{{#each novedades}}

<div>
    <h3 style="text-align:center;">{{titulo}}</h3>
    <h4 style="color:rgb(178, 82, 98) ; text-align:center;">{{subtitulo}}</h4>
    <p style="color:white ;text-align:center;">{{cuerpo}}</p>


</div>
{{/each}}