<table>
    <thead>
        <tr>
            <th>Novedades</th>
            <th>Animales Adoptados</th>
            <th>Donaciones</th>
        </tr>
    </thead>

    <tr>


        <td>
            Nueva mochila para llevar mascotas

        </td>
        <td>

            Se adopto a un Mapache

            Se adopto a un gato



        </td>



        <td>Se donaron 10000 dolares a Fauna Amiga.

        </td>
    </tr>

    <br>






</table>